body {
    margin: 0;
    padding: 0;
}

.show-color {
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
}

.cover-img-container {
    position: relative;
}

.cover-img {
    position: absolute;
}

.main-color {
    top: 55px;
    left: 43px;
}

.top-color {
    top: 6px;
    left: 57px;
}
